---
http_interactions:
- request:
    method: get
    uri: http://api.songkick.com/api/3.0/search/locations.json?apikey=OekMwH7kwA1GP6lb&query=Brooklyn,%20NY
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"resultsPage":{"results":{"location":[{"city":{"country":{"displayName":"US"},"displayName":"Brooklyn","lng":-73.95,"lat":40.65,"state":{"displayName":"NY"}},"metroArea":{"uri":"http:\/\/www.songkick.com\/metro_areas\/7644-us-new-york?utm_source=16619&utm_medium=partner","country":{"displayName":"US"},"displayName":"New
        York","id":7644,"lng":-74.005973,"lat":40.714269,"state":{"displayName":"NY"}}}]},"totalEntries":1,"perPage":50,"page":1,"status":"ok"}}'
  recorded_at: Tue, 20 Nov 2012 05:27:12 GMT
recorded_with: VCR 2.3.0
